@model SmartStore.Admin.Models.CurriculumVitae.PersonalTagModel
@using Telerik.Web.Mvc.UI;
@using SmartStore.Core.Domain.Catalog;
@{
    ViewBag.Title = T("Admin.Catalog.Vitae.EditTag").Text;
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "tag-form" }))
{
    <div class="section-header">
        <div class="title">
            @T("Admin.Catalog.Vitae.EditTag") - <span title="@Model.Name">@Model.Name.Truncate(45, "...")</span>
            <a href='@Url.Action("List")'>(@T("Admin.Vitae.Tag.BackToList"))</a>
        </div>
        <div class="options">
            @{ Html.RenderWidget("admin_button_toolbar_before"); }
            <button type="submit" value="save" class="btn btn-warning entity-commit-trigger" data-commit-type="client" data-commit-action="update" data-commit-id="@Model.Id">
                <i class="fa fa-check"></i>
                <span>@T("Admin.Common.Save")</span>
            </button>
            <button type="submit" value="save-continue" class="btn btn-secondary entity-commit-trigger" data-commit-type="client" data-commit-action="update" data-commit-id="@Model.Id">
                @T("Admin.Common.SaveContinue")
            </button>
            <button type="submit" id="tag-delete" class="btn btn-danger">
                <i class="far fa-trash-alt"></i>
                <span>@T("Admin.Common.Delete")</span>
            </button>

            @{ Html.RenderWidget("admin_button_toolbar_after"); }
        </div>
    </div>

    Html.RenderPartial("_CreateOrUpdate", Model);
}
@Html.DeleteConfirmation("tag-delete")