@model SmartStore.Admin.Models.CurriculumVitae.PersonalModel
@{
    ViewBag.Title = T("Admin.Vitae.Personal.AddNew").Text;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "personal-form" }))
{
    <div class="section-header">
        <div class="title">
            @T("Admin.Vitae.Personal.AddNew") 
			<a href='@Url.Action("List")'>(@T("Admin.Vitae.Personal.BackToList"))</a>
        </div>
        <div class="options">
            <button type="submit" name="save" value="save" class="btn btn-primary entity-commit-trigger" data-commit-type="personal" data-commit-action="insert" data-commit-id="@Model.Id">
                <i class="fa fa-check"></i>
                <span>@T("Admin.Common.Save")</span>
            </button>
            <button type="submit" name="save" value="save-continue" class="btn btn-secondary entity-commit-trigger" data-commit-type="personal" data-commit-action="insert" data-commit-id="@Model.Id">
                <span>@T("Admin.Common.SaveContinue")</span>
            </button>
        </div>
    </div>

    Html.RenderPartial("_CreateOrUpdate", Model);
}