@{
    Layout = "_DocumentVitae";
}
@using SmartStore.Core.Domain.Catalog
@model SmartStore.Web.Models.Catalog.VitaeModel

@if (Model.IsExists)
{
    <div class="page-scroll">
        <div id="page_container" class="page-container bg-move-effect" data-animation="transition-flip-in-right">
            @{
                Html.RenderAction("MenuBar", "Vitae", new { id = Model.Personal.CustomerId });
            }
            <div id="main" class="site-main">
                <div id="main-content" class="single-page-content">
                    <div id="primary" class="content-area">
                        <div id="content" class="page-content site-content single-post" role="main">
                            <!-- Home Page Top Part -->
                            <div class="row">
                                <div class=" col-xs-12 col-sm-12">
                                    <div class="home-content">
                                        <div class="row flex-v-align">

                                            <div class="col-sm-12 col-md-5 col-lg-5">
                                                <div class="home-photo">
                                                    <div class="hp-inner" style="background-image: url(@Model.PictureModel.ImageUrl);">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-12 col-md-7 col-lg-7">
                                                <div class="home-text hp-left">
                                                    <h4>@Model.Personal.Title</h4>

                                                    <div class="owl-carousel text-rotation">
                                                        <div class="item">
                                                            <h2>@Model.Personal.FullName</h2>
                                                        </div>

                                                        <div class="item">
                                                            <h2>@Model.Personal.AliasName</h2>
                                                        </div>
                                                    </div>
                                                    <p>@Model.Personal.Introduce</p>

                                                    <div class="home-buttons">
                                                        <a href="#" target="_blank" class="btn btn-primary">Download CV</a>
                                                        <a href="#" target="_self" class="btn btn-secondary">Contact</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Home Page Top Part -->
                            <!-- Services -->
                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    <div class="p-50"></div>

                                    <div class="block-title">
                                        <h2>What I Do</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    <div class="info-list-w-icon">

                                        @foreach (var item in Model.PersonalSkills.Where(i => i.SkillType == ((int)PersonalSkillType.ServiceSkills).ToString()))
                                        {
                                            <div class="info-block-w-icon">
                                                <div class="ci-icon">
                                                    <i class="linecons linecons-pen"></i>
                                                </div>

                                                <div class="ci-text">
                                                    <h4>@item.SkillName</h4>
                                                    <p>@item.SkillShortName</p>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <!-- /Services -->

                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    <div class="p-20"></div>
                                    <!-- Clients Slider -->
                                    <div class="block-title">
                                        <h2>Clients</h2>
                                    </div>

                                    <div id="clients_1" class="clients owl-carousel" data-mobile-items="1" data-tablet-items="3" data-items="6">

                                        @foreach (var item in Model.PersonalClients)
                                        {
                                            <div class="client-block">
                                                <a href="#" title="@item.ClientPicture.AlternateText">
                                                    <img src="@item.ClientPicture.ImageUrl" alt="@item.ClientPicture.AlternateText">
                                                </a>
                                                <span>@item.Client.ClientName</span>
                                            </div>
                                        }
                                    </div>
                                    <!-- /Clients Slider -->
                                    <div class="p-40"></div>

                                </div>
                            </div>

                            <!-- Fun Facts -->
                            <div class="row">
                                <div class="col-xs-12 col-sm-12">
                                    <div class="block-title">
                                        <h2>Fun Facts</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 col-sm-3">
                                    <div class="lm-info-block gray-default">
                                        <i class="linecons linecons-heart"></i>
                                        <h4>@Model.Personal.FunFactTitle00</h4>
                                        <span class="lm-info-block-value">@Model.Personal.FunFactContent00</span>
                                        <span class="lm-info-block-text"></span>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-3">
                                    <div class="lm-info-block gray-default">
                                        <i class="linecons linecons-clock"></i>
                                        <h4>@Model.Personal.FunFactTitle01</h4>
                                        <span class="lm-info-block-value">@Model.Personal.FunFactContent01</span>
                                        <span class="lm-info-block-text"></span>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-3 ">
                                    <div class="lm-info-block gray-default">
                                        <i class="linecons linecons-star"></i>
                                        <h4>@Model.Personal.FunFactTitle02</h4>
                                        <span class="lm-info-block-value">@Model.Personal.FunFactContent02</span>
                                        <span class="lm-info-block-text"></span>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-3 ">
                                    <div class="lm-info-block gray-default">
                                        <i class="linecons linecons-cup"></i>
                                        <h4>@Model.Personal.FunFactTitle03</h4>
                                        <span class="lm-info-block-value">@Model.Personal.FunFactContent03</span>
                                        <span class="lm-info-block-text"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <footer class="site-footer clearfix">
                <div class="footer-social">
                    <ul class="footer-social-links">
                        <li>
                            <a href="#" target="_blank">Twitter</a>
                        </li>

                        <li>
                            <a href="#" target="_blank">Facebook</a>
                        </li>

                        <li>
                            <a href="#" target="_blank">Instagram</a>
                        </li>
                    </ul>
                </div>

                <div class="footer-copyrights">
                    <p>© 2022 All rights reserved.</p>
                </div>
            </footer>
        </div>
    </div>
}
else
{
    <div class="alert alert-info alert-dismissible">
        @T("Website.Vitae.NoRecords")
    </div>
}
