@using SmartStore.Admin.Models.CurriculumVitae
@using SmartStore.Core.Domain.Catalog;
@using SmartStore.Web.Framework.UI;

@model SmartStore.Admin.Models.CurriculumVitae.PersonalPortfolioModel

@{
    Html.AddCssFileParts(true, "~/Content/vendors/x-editable/bootstrap-editable.css");
    Html.AppendScriptParts(true, "~/Content/vendors/x-editable/bootstrap-editable.js");
}

@Html.AntiForgeryToken()
@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.CustomerId)
@Html.HiddenFor(model => model.Id)

<div>
    <table class="adminContent mb-2">
        @if (Model.Id != 0)
        {
            <tr>
                <td class="adminTitle">
                    @Html.SmartLabelFor(model => model.Id)
                </td>
                <td class="adminData">
                    @Html.TextBoxFor(model => model.Id, new { @readonly = "readonly", @class = "form-control-plaintext" })
                    @Html.ValidationMessageFor(model => model.Id)
                </td>
            </tr>
            if (Model.CreatedDate.HasValue)
            {
                <tr>
                    <td class="adminTitle">
                        @Html.SmartLabelFor(model => model.CreatedDate)
                    </td>
                    <td class="adminData">
                        <div class="form-control-plaintext">
                            @Html.DisplayFor(model => model.CreatedDate)
                        </div>
                    </td>
                </tr>
            }
            if (Model.ModifiedDate.HasValue)
            {
                <tr>
                    <td class="adminTitle">
                        @Html.SmartLabelFor(model => model.ModifiedDate)
                    </td>
                    <td class="adminData">
                        <div class="form-control-plaintext">
                            @Html.DisplayFor(model => model.ModifiedDate)
                        </div>
                    </td>
                </tr>
            }
        }
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.PortfolioName)
            </td>
            <td class="adminData">
                @Html.TextBoxFor(model => model.PortfolioName)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.PortfolioUrl)
            </td>
            <td class="adminData">
                @Html.TextBoxFor(model => model.PortfolioUrl)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.ShortMessage)
            </td>
            <td class="adminData">
                @Html.TextBoxFor(model => model.ShortMessage)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.From)
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.From)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.To)
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.To)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.Published)
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Published)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.Status)
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.Status, ((PersonalPortfolioStatusType)Model.Status).ToSelectList())
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.Description)
            </td>
            <td class="adminData">
                @Html.TextAreaFor(model => model.Description)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.Tag)
            </td>
            <td class="adminData">
                @Html.ListBoxFor(model => model.Tag, Model.AvailableProductTags, new { multiple = "multiple", data_tags = "true" })
                @Html.ValidationMessageFor(model => model.Tag)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.ShareLinkFacebook)
            </td>
            <td class="adminData">
                @Html.TextBoxFor(model => model.ShareLinkFacebook)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.ShareLinkInstagram)
            </td>
            <td class="adminData">
                @Html.TextBoxFor(model => model.ShareLinkInstagram)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.ShareLinkTwitter)
            </td>
            <td class="adminData">
                @Html.TextBoxFor(model => model.ShareLinkTwitter)
            </td>
        </tr>
    </table>
</div>